---
import Button from "../../elements/buttons/Button.astro";

const t = (x: string): string => x;
---

<div class="nft collection section">
  <div class="inner container">
    <div class="text and cta">
      <div class="text container">
        <h2>
          <div class="sub heading">{t("The Tale of Waters and Seas")}</div>
          <div class="heading">{t("Neptune Mutual NFTs")}</div>
        </h2>
        <p>
          {
            t(
              "Our Neptune, Guardians, and Beasts collections each have their own unique identity, offering users a range of digital assets to explore, collect, and trade. As part of our commitment to reward our community and grow DeFi cover adoption, we are proud to offer seven levels of free-to-mint NFTs to Neptunites who use our marketplace. Mint your first NFT now by clicking on the link below."
            )
          }
        </p>
      </div>
      <Button
        href="https://nft.neptunemutual.com"
        type={"anchor"}
        variant={"primary"}
        size={"xl"}
        iconTrailing="arrow-right"
      >
        {t("Launch NFT Portal")}
      </Button>
    </div>

    <div class="image container">
      <img
        src="/assets/images/nft/promo.webp"
        alt="A banner of NFT cards with unique Neptune Mutual NFT character images, names, and descriptions."
        loading="lazy"
      />
    </div>
  </div>
</div>
