---
import Features from "./Features.astro";

const t = (x: string): string => x;
---

<div class="careers benefits container">
  <div class="inner container">
    <div class="text container">
      <h2>
        <div class="subheading">
          {t("Benefits")}
        </div>
        <div class="heading">
          {t("Why should you apply for a position at Neptune Mutual?")}
        </div>
      </h2>

      <p class="supporting text">
        {
          t(
            "Inspiring unity and cooperation, our common principles serve as the bedrock of our company culture."
          )
        }
      </p>
    </div>

    <Features />
  </div>
</div>
