---
import VacancyList from "./vacancies/VacancyList.astro";

interface Props {
  vacancies: Vacancy[];
}

const { vacancies } = Astro.props;

const departments = [
  "Any Department",
  ...new Set(vacancies.map((v) => v.department)),
];

const t = (x: string): string => x;
---

<div class="ui job vacancies section">
  <div class="inner container">
    <div class="content">
      <h2>
        <div class="heading">
          {t("Current Job Vacancies")}
        </div>
      </h2>
      <p class="supporting text">
        {
          t(
            "Our philosophy is simple — hire a team of diverse, passionate people and foster a culture that empowers you to do you best work."
          )
        }
      </p>
    </div>

    <div class="content">
      <div class="job vacancy list">
        <VacancyList vacancies={vacancies} departments={departments} />
      </div>
    </div>
  </div>
</div>
