---
import NftCard from "../components/NftCard.astro";
import Hero from "./nft-marketplace/Hero.astro";
import NftYouMayLike from "./nft/YouMayLike/NftYouMayLike.astro";
---

<>
    <Hero />
    <NftYouMayLike />
    <div class="nft marketplace cards">
        <div class="full width container">
            <NftCard />
        </div>
    </div>
</>
