---
import NpmLightLogo from "../../elements/icons/custom/npm-logo-light-mode.svg?raw";
import NpmDarkLogo from "../../elements/icons/custom/npm-logo-dark-mode.svg?raw";

interface Props {
  headerStyle: "default" | "colored";
}

const { headerStyle } = Astro.props;
---

<header data-style={headerStyle}>
  <div class="inner container">
    <div class="logo and rest">
      <a class="logo" href="/">
        <span class="sr-only">Neptune Mutual</span>
        <span class="light only" set:html={NpmLightLogo} />
        <span class="dark only" set:html={NpmDarkLogo} />
      </a>
    </div>
  </div>

  <hr />
</header>
