@use "../../design-system/colors";
@use "../../design-system/typography/styles";
@use "../../design-system/typography/weights";

.func.container {
  border: 1px solid colors.$gray-300;

  .dark & {
    border: 1px solid colors.$gray-700;
  }

  .list.header {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: -1;
    cursor: pointer;
  }

  .name {
    @include weights.semibold;
  }

  .cta {
    display: flex;
    align-items: center;
    gap: 30px;
    color: colors.$black;
  }

  .inputfield.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .input.container {
    .input.hint {
      display: none;
    }
  }

  div.input.group {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .array.label {
      display: flex;
      gap: 8px;
      align-items: center;

      p.label {
        @include styles.text-sm;
        @include weights.medium;
        color: colors.$gray-700;
      }
    }

    .tuple.container > div {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    .array.item {
      position: relative;
      padding-left: 16px;

      button.close {
        position: absolute;
        right: 0;

        padding: 4px;
        border-radius: 4px;
        border: 1px solid colors.$gray-400;

        &:disabled {
          cursor: not-allowed;
          border-color: colors.$gray-300;
        }

        & + .input.container div.label {
          min-height: 26px;
        }
      }

    }
  }
}