---
import NftCharacter from "./NftCharacter.astro";
---

<div class="nfts youmaylike">
    <div class="full width container">
        <h1 class="heading">NFTs You May Like</h1>
        <div class="character wrapper">
            <NftCharacter />
        </div>
    </div>
</div>
